<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoSerialLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ArduinoSerialLogger.Properties.Settings>
            <setting name="saveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDataToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delimiter" serializeAs="String">
                <value>newline</value>
            </setting>
            <setting name="delimiterCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>newline</string>
                        <string>carriage return</string>
                        <string>#</string>
                        <string>;</string>
                        <string>:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="afterWritingToCell" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="writeToExcel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lineDelimiter" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="lineDelimiterCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>None</string>
                        <string>;</string>
                        <string>:</string>
                        <string>,</string>
                        <string>.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="moveActiveCell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timestamp" serializeAs="String">
                <value>False</value>
            </setting>
        </ArduinoSerialLogger.Properties.Settings>
    </userSettings>
</configuration>